.analytics-slider {
	&__swiper {
		&__slide {
			padding: 1rem;
			background-image: linear-gradient(
				to bottom,
				rgba(6, 11, 38, 100%),
				rgba(26, 31, 55, 90%)
			);
			border-radius: var(--border-radius);
			color: white;
			cursor: pointer;
		}
	}
}
