.analytics-slider {
	&__swiper {
		&__slide {
			padding: 1rem;
			background-color: var(--panel);
			border-radius: var(--border-radius);
			cursor: pointer;

			p b {
				margin-left: 0.3rem;
			}
		}
	}
}
