.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
	background-color: var(--panel);

	&__links {
		display: flex;
		flex-direction: column;

		a {
			text-decoration: none;
			padding: 1rem;
		}

		.active {
			border-radius: var(--border-radius);
			background-color: var(--background);
		}
	}

	h1 {
		border-bottom: 1px solid white;
		margin-top: 1rem;
	}
}
