.sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;
	align-items: center;
	justify-content: space-between;
	background-color: var(--panel);

	&__top {
		&__links {
			display: flex;
			flex-direction: column;

			a {
				text-decoration: none;
				padding: 1rem;
			}

			.active {
				border-radius: var(--border-radius);
				background-color: var(--background);
			}
		}

		h1 {
			border-bottom: 1px solid white;
			margin: 1rem 0 3rem 0;
		}
	}

	&__bottom {
		margin-bottom: 5rem;
		position: relative;
		&__advert {
			padding: 1rem;
			max-width: 12rem;
			background-color: var(--background);
			border-radius: var(--border-radius);
			display: flex;
			flex-direction: column;
			text-align: center;
			gap: 1rem;

			img {
				filter: var(--svg);
			}
		}

		&__toggle {
			margin-top: 2rem;
		}
	}
}
