.theme__toggle-button {
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
		z-index: 1;
	}

	.slider {
		position: absolute;
		display: block;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: gray;
		transition: 0.4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		top: 50%;
		transform: translateY(-50%);
		transition: 0.4s;
		display: block;
		background-image: url(../../images/moon.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 120%;
	}

	input:checked + .slider {
		background-color: #017aff;
		display: block;
	}

	input:checked + .slider:before {
		transform: translate(26px, -50%);
		display: block;
		background-image: url(../../images/sun.svg);
	}

	.slider.round {
		border-radius: 34px;
		display: block;
		background-color: #017aff;
	}

	.slider.round:before {
		border-radius: 50%;
		display: inline-block;
	}
}
